	<footer>
			<nav class="navbar navbar-toggleable-md navbar-inverse fixed-bottom custom-line custom-bg-white" role="navigation">
				<div class="container">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link custom-active custom-primary-link" href="{% url 'inicio' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-primary-link" href="{% url 'lightbox_notificacao' %}"><i class="fa fa-bell" aria-hidden="true"></i>
							<span class="nbell">1</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-primary-link" href="{% url 'chat' %}"><i class="fa fa-comments" aria-hidden="true"></i>
							<span class="ncomments">1</span></a>
						</li>
					</ul>
				</div>
			</nav>
	</footer>