<a href="{% url 'detalhe' mae_id=mae.obj.pk %}">
    <div class="card">
      <div class="card card-inverse">
      
      <img class="card-img img-fluid" src="{{mae.obj.foto_mae_pq.url}}" alt="Card image">

      <div class="card-img-overlay">
       <p class="card-text itens">{{mae.itens_comum|length}} itens em comum</p>
            <p class="card-text">{{mae.amigas_comum|length}} amigos</p>
            
            <h4 class=" custom-card-tile">{{mae.obj.nome}}</h4>
            <div class="rating" data-rate-value='{{mae.avaliacao}}'></div>
            
          </div>
    </div>
    </div>
</a>