{% load static %}
{% include "mae/_head.html" %}
	<body>
		<div class="card">
			<div class="card-header">
		    	Resumo do seu pedido
		  	</div>
		<div class="card-block">
		    <h4 class="card-title">29 de maio</h4>
			<h6 class="card-subtitle mb-2 text-muted">8:00 às 12:00</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<p class="card-text">
    				<strong>Yasmim Lafaite do Carmo</strong>
    				<br> R$ 30,00
    			</p>
			</li>
    		<li class="list-group-item">
    			<a href="#">
    				<i class="fa fa-map-marker" aria-hidden="true">
					Av. Nossa Sra. de Copacabana, 895 - Copacabana, Rio de Janeiro - RJ, 22020-001, Brasil</i>
				</a>
			</li>
  		</ul>
  		<div class="card-block">
			<a href="#" class="btn btn-primary">Chat</a>
		</div>
	</div>
	</body>
</html>