{% load static %}
{% include "mae/_head.html" %}
<body>
	<div class="container detail">
		<div id="carouselExampleIndicators" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				{% for casa in mae.imagenscasa %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<img class="d-block img-fluid" src="{{mae.obj.foto_mae_gd.url}}" alt="First slide">
				</div>
				{% for casa in mae.imagenscasa %}
				<div class="carousel-item">
					<img class="d-block img-fluid" src="{{casa.image.url}}">
				</div>
				{% endfor %}
			</div>
		</div>
	  <div class="card-group">
	  	<div class="card">
	  		<div class="card-block">
	  			<h4 class="card-title">{{mae.obj.nome}}</h4>
	  			<div>
	  				<div class="rating" data-rate-value='{{mae.avaliacao}}'></div>
	  			</div>
	  			<p class="card-text">{{mae.obj.descricao}}</p>
	  		</div>
	  		<ul class="list-group list-group-flush">
	  			<li class="list-group-item"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"> 3 km</i></a>
	  			</li>
	  			<li class="list-group-item"><strong>Hospedagem: </strong>&nbsp;R$ {{mae.obj.valor_hora}}</i></li>
	  			<li class="list-group-item">
	  				<strong>3 itens compativeis</strong><br>
	  				
	  			</li>
	  			<li class="list-group-item">	
	  			<strong>Amigos em comum: </strong>
	  			  	{% for amiga in mae.amigas_comum %}	
		  				{{amiga}}
		  			{% endfor %}  	
	  			</li>
	  			
	  			<li class="list-group-item"><strong>Comentários</strong></li>

		   		{% for comentario in mae.comentarios %}
		  			<li class="list-group-item">
	       				{{ comentario.comentario }}
		       			<small>{{ comentario.mae_origem.nome }} em {{ comentario.created_at}}</small>
		  			</li>
		        {% endfor %} 

	  		</ul>
	  		
	  	</div>
	  </div>
	<footer>
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-bottom custom-line custom-bg-white" role="navigation">
			<div class="container">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link custom-active custom-primary-link" href="{% url 'inicio' %}"><i class="fa fa-undo" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-primary-link" href="{% url 'pagamento' mae_id=mae.obj.pk %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-primary-link" href="{% url 'chat' %}"><i class="fa fa-comment" aria-hidden="true"></i>
					</li>
				</ul>
			</div>
		</nav>
	</footer>
</body>
<script type="text/javascript">
	$("#carouselExampleIndicators").swipe({

  swipe: function(event, direction, distance, duration, fingerCount, fingerData) {

    if (direction == 'left') $(this).carousel('next');
    if (direction == 'right') $(this).carousel('prev');

  },
  allowPageScroll:"vertical"

});

</script>
</html>