{% load static %}
{% include "mae/_head.html" %}
<body>
	<nav class="navbar custom-nav-bar navbar-toggleable-md navbar-inverse fixed-top custom-bg-primary">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span><i class="fa fa-filter" aria-hidden="true"></i></span>-->
        <!--<span><i class="fa fa-cogs" aria-hidden="true"></i></span>-->
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </button>
      <a class="navbar-brand" style="padding-top: 0px;" href="#">Coração de mãe</a>
      <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
        <ul class="navbar-nav mr-auto hidden-xs-down">
          
        </ul>
        <form class="hidden-sm-up" id="coracaomae_form" method="POST">
        {% csrf_token %}
        	<div class="form-group">
    			<label for="date" class="label">Escolha a data</label>
    			<input type="date" class="form-control" value="2017-05-28" name="date_apoio" id="date" aria-describedby="dateHelp">
  			</div>
  			<div class="form-group">
    			<label for="starttime" class="label">Chegada</label>
    			<input type="time" class="form-control" id="starttime" name="hora_inicio" value="13:00" aria-describedby="timeHelp">
    		</div>
    		<div class="form-group">
    			<label for="endtime" class="label">Sa&iacute;da</label>
    			<input type="time" class="form-control" id="endtime" name="hora_fim" value="16:00" aria-describedby="time2Help">
  			</div>
        	<div class="form-check">
	        		{% for filho in filhos %}
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked="checked">
                  {{filho.nome}}
                </label>
              {% endfor %}
        	</div>
        	<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Enviar</button>
        </form>
      </div>
    </nav>
	<div class="container" id="page">
		<div class="card-columns">
 
 {% for mae in maes %}
 	<a href="{% url 'detalhe' mae_id=mae.obj.pk %}">
			<div class="card">
				<div class="card card-inverse">
				
				<img class="card-img img-fluid" src="{{mae.obj.foto_mae_pq.url}}" alt="Card image">

				<div class="card-img-overlay">
				 <p class="card-text itens">{{mae.itens_comum|length}} itens em comum</p>
		          <p class="card-text">{{mae.amigas_comum|length}} amigos</p>
		          
		          <h4 class=" custom-card-tile">{{mae.obj.nome}}</h4>
		          <div class="rating" data-rate-value='2'></div>
		          
        		</div>
			</div>
			</div>
	</a>
{% endfor %}
			
		</div>

	</div>
  {% if autosubmit %}
    <script>
      $(document).ready(function(){
        $("#coracaomae_form").submit();
      });    
      </script>
  {% endif %}

	{% include "mae/_footer.html" %}
</body>
</html>