{% load static %}
{% include "mae/_head.html" %}
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span><i class="fa fa-filter" aria-hidden="true"></i></span>-->
        <!--<span><i class="fa fa-cogs" aria-hidden="true"></i></span>-->
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </button>
      <a class="navbar-brand" href="#">Mom's heart</a>
      <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
        <ul class="navbar-nav mr-auto hidden-xs-down">
          <li class="nav-item active">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drop</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">link</a>
              <a class="dropdown-item" href="#">link</a>
              <a class="dropdown-item" href="#">link</a>
            </div>
          </li>
        </ul>
        <form class="hidden-sm-up">
        	<div class="form-group">
        		<label for="selectname">Example select</label>
        		<select class="form-control" id="selectname">
        			<option>Op&ccedil;&atilde;o A</option>
        			<option>Op&ccedil;&atilde;o B</option>
        		</select>
        	</div>
        	<div class="form-group">
    			<label for="date">Escolha a data</label>
    			<input type="date" class="form-control" id="date" aria-describedby="dateHelp">
  			</div>
  			<div class="form-group">
    			<label for="starttime">Chegada</label>
    			<input type="time" class="form-control" id="starttime" aria-describedby="timeHelp">
    		</div>
    		<div class="form-group">
    			<label for="endtime">Sa&iacute;da</label>
    			<input type="time" class="form-control" id="endtime" aria-describedby="time2Help">
  			</div>
        	<div class="form-check">
	        		<label class="form-check-label">
	        			<input type="checkbox" class="form-check-input">
	        			label
	        		</label>
	        		<label class="form-check-label">
	        			<input type="checkbox" class="form-check-input">
	        			label
	        		</label>
        	</div>
        	<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Enviar</button>
        </form>
      </div>
    </nav>
	<div class="container" id="page">
		<div class="card-columns">
			<div class="card card-inverse">

				<img class="card-img img-fluid" src="{% static "/media/mae-1.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Yasmim </h4>
		          <p class="card-text">35 anos</p>
		          <div class="rating" data-rate-value=6></div>
        		</div>

			</div>
			<div class="card">
				<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae2.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Katie </h4>
		          <p class="card-text">32 anos</p>
        		</div>
			</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae0.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Jane </h4>
		          <p class="card-text">31 anos</p>
        		</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae0.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Mirian </h4>
		          <p class="card-text">30 anos</p>
        		</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae0.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Anne </h4>
		          <p class="card-text">25 anos</p>
        		</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae0.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Tatiane </h4>
		          <p class="card-text">30 anos</p>
        		</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae2.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Lori </h4>
		          <p class="card-text">33 anos</p>
        		</div>
			</div>
			<div class="card card-inverse">
				<img class="card-img img-fluid" src="{% static "/media/mae-1.jpg" %}" alt="Card image">
				<div class="card-img-overlay">
		          <h4 class="card-title">Pattie </h4>
		          <p class="card-text">28 anos</p>
        		</div>
			</div>
			
		</div>

	</div>
	{% include "mae/_footer.html" %}
</body>
</html>