{% load static %}
{% include "mae/_head.html" %}
<body>
	<div class="card" style="height: 100%;">
		<div class="card-header">
	    	Hospedagem confirmada
	  	</div>
		<div class="card-block" style="max-height:110px;">
		 <h4 class="card-title">Valeria Carvalho</h4>
			<h6 class="card-subtitle mb-2 text-muted">29 de maio</h6>
			<p class="card-text">8:00 às 12:00</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<p class="card-text">
    				<strong>2 Filhos</strong>
    				<br> Renam Guilherme Dos Santos - 3 anos
    				<br> Renilson Aberto Dos Santos - 4 anos
    			</p>
			</li>
    		<li class="list-group-item">
    			<a href="#">
    				<i class="fa fa-phone" aria-hidden="true">
    				(21) 98301-0103
					</i>
				</a>
			</li>
  		</ul>
  		<div class="card-block">
			<a href="#" class="btn btn-primary">Chat</a>
		</div>
</body>
</html>